<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="#" class="logo">wand!</a>
            <ul class="links">
                <li><a  routerLink="/home" class="nav-link">Home</a></li>
                <li><a  routerLink="/aboutus" class="nav-link">About Us</a></li>
                <li><a  routerLink="/contactus" class="nav-link">Contact Us</a></li>
                <li><a href="tel:2937614" class="phone">29370614</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Welcome to WAND!</h1>
            <p>"The best way to get started is to quit talking and begin doing." - Walt Disney</p>
            <button routerLink="/login" class="btn">Login</button>
            <button routerLink="/signup" class="btn btn-secondary">Sign Up</button>
        </div>
    </div>
</body>

</html>
